---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatureBar from "../components/FeatureBar.astro";
---

<BaseLayout pageTitle="Home">
  <Hero
    heading="Demo Company"
    subheading="This is the subheading of the home page for Demo Company."
  />

  <main class="container py-5">
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sed
      quaerat est? Sapiente, quod cum magni non numquam consequatur voluptate,
      sit natus incidunt maiores, earum nostrum repellat laboriosam odit dicta!
    </p>
  </main>
</BaseLayout>
