---
const {icon, title, text} = Astro.props;
---

<div class="d-flex align-items-start mb-3">
    <i class=`bi bi-${icon}`></i>
    <div class="ms-3 w-100">
        <p class="h5 mb-0">{title}</p>
        {text ? <p class="mb-0 text-muted">{text}</p> : <slot />}
    </div>
</div>