---
// src/components/CTABar.astro (REFACTORED)
import { company } from "../data/config.json";
import { formatPhoneForLink } from "../utils/format";
import QuoteBtn from "./QuoteBtn.astro";
---

<div class="border-bottom border-primary border-3 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-center py-4 py-lg-3 g-3">
      <div class="col-12 col-lg-auto text-center text-lg-start">
        <div class="cta-text">
          <i class="bi bi-telephone-fill me-2 text-primary"></i>
          <span class="me-2">Call us on</span>
          <a 
            href={`tel:${formatPhoneForLink(company.phone)}`} 
            class="phone-number link-light text-decoration-none fw-bold me-3"
          >
            {company.phone}
          </a>
          <span class="separator d-none d-lg-inline mx-3">|</span>
        </div>
      </div>
      <div class="col-12 col-lg-auto text-center">
        <QuoteBtn />
      </div>
    </div>
  </div>
</div>

<style>


  .cta-text {
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 992px) {
    .cta-text {
      justify-content: flex-start;
    }
  }

  .phone-number:hover {
    color: var(--bs-primary) !important;
  }
</style>