---
import FeatureBarItem from "./FeatureBarItem.astro";
---

<section class="bg-light d-none d-md-block text-dark py-3 border-bottom">
  <div
    class="container fs-5 d-flex flex-column flex-md-row justify-content-evenly"
  >
    <FeatureBarItem number="10+" text="Years Experience" />
    <FeatureBarItem number="30" text="Minute Arrival" />
    <FeatureBarItem number="5.0" text="Google Rating" />
    <FeatureBarItem number="24/7" text="Availability" />
  </div>
</section>
