---
import FeatureBarItem from "./FeatureBarItem.astro";
import {marketing} from "../data/config.json"
---


<div class="bg-primary text-light py-2 ">

  <div
    class="container d-flex flex-column align-items-center flex-lg-row justify-content-between"
  >
    {marketing.features.map((feat) => <FeatureBarItem text={feat.text} icon={feat.icon} />)}
  </div>
</div>

