---
const { number, text } = Astro.props;
---

<div class="d-flex flex-column text-center mb-3">
  <span class="display-5 mb-0 fw-bold text-primary">{number}</span>
  <span class="mt-0">{text}</span>
</div>
