---
import GoogleBadge from "./GoogleBadge.astro";
import QuoteBtn from "./QuoteBtn.astro";
const {
  heading = "Main Heading",
  subheading = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
} = Astro.props;
---

<div id="hero" class="d-flex align-items-center text-center text-lg-start">
  <div class="container text-light">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-3 fw-bold">
          {heading}
        </p>
        <p class="lead mb-4">
          {subheading}
        </p>
        <div class="d-grid d-lg-block">
          <QuoteBtn />
        </div>
        <GoogleBadge quantity="500" />
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>

<style>
  #hero {
    min-height: 70vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  }
</style>
