---
const {heading = "Main Heading", subheading = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit."} = Astro.props;
---

<section class="bg-light border-bottom">
    <div class="container d-flex text-light flex-column justify-content-center align-items-start h-100">
            <p class="display-3 fw-bold w-100"><span class="w-50 d-none d-lg-block">{heading}</span><span class="d-lg-none">{heading}</span></p>
            <p class="lead mb-4 w-100"><span class="w-50 d-none d-lg-block">{subheading}</span><span class="d-lg-none">{subheading}</span></p>
            <a href="/get-quote" class="btn btn-primary btn-lg">Get Quote</a>
        </div>
    </div>
</section>

<style>
    section {
        min-height: 70vh;
        background-image: url("../images/hero.jpg");
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    }

</style>