---
import "../styles/main.css";
import { company } from "../data/config.json";
const { pageTitle } = Astro.props;
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | {company.name}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <script src="../scripts/bootstrap.min.js"></script>
  </body>
</html>
