---
import "../styles/main.css";
import { company } from "../data/config.json";
const { pageTitle } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | {company.name}</title>
  </head>
  <body class="vh-100 d-flex flex-column">
    <Header />
      <h1 class="container">{pageTitle}</h1>
      <slot style="flex: 1" />
    <Footer />
    <script src="../scripts/bootstrap.min.js"></script>
  </body>
</html>
