---
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <h1 class="text-center bg-light py-3 border">{pageTitle}</h1>
        <div class="container py-3">
            <slot />
        </div>
    </main>
</BaseLayout>
