---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.astro";
const { pageTitle, description, mainContent } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <main>
    <Title title={pageTitle} />
    {mainContent.map((cont:string) => <p class="container">{cont}</p>)}
  </main>
</BaseLayout>
